/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 5px solid #C12B2C;
}

.header .nav> li > a {
  color: #fff;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: none;
}


/* Everything but the jumbotron gets side spacing for mobile-first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header
.header {
  border-bottom: 1px solid #e5e5e5;
}
*/
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
/* No text decoration on header link */
.header h3 a {
  text-decoration: none;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #C12B2C;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Main marketing message and sign up button */
.jumbotron {
  background-color: transparent;
  color: whitesmoke;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    padding-top: 20px;
    padding-top: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    background-color: transparent;
    color: whitesmoke;
    text-align: center;
  }
}

.jumbotron h1 {
 font-family: Times;
}

body {
  padding-top: 0px;
}

.menu, .first {
  background-color: #292929;
}

.third {
  background-color: #C12B2C;
}

.member a{
  color: white;
}

.second, .fourth, .footer {
  background-color: #ECF0F1;
}

.fourth {
  padding-bottom: 60px;
}

.btn-success, .btn-success:hover {
  color: #FFF;
  background-color: #C12B2C;
  border-color: #C12B2C;
}

.marketing > section {
  padding-top: 60px;
  padding-bottom: 30px;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
}